#container {
  width: 100vw;
  height: 100vh;
  padding: 1em
}

body {
  width: 100vw;
  overflow: hidden;
}

label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

input {
  width: 10vw;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0.5em
}